@import './utils/variables';
@import './components/logo';
@import './components/navigation';
@import './components/hero';
@import './components/advantages';
@import './components/examples';
@import './components/team';
@import './components/clients';
@import './components/nav_footer';
@import './components/common';
@import './components/soc_footer';
@import './components/subscribe_footer';

html{
    box-sizing: border-box;
}
  *,
  *::before,
  *::after {
    box-sizing: inherit;
}
body {
    background-color: $primary-white-color;
    color: $primary-text-color;
    font-family: $main-font;
    font-size: 16px;
    line-height: 1.2;
}
p, a{
    margin: 0;
}
  
header{
    border-bottom: solid 1px #ECECEC;
}

footer {
    background-color: $bck-color;
    padding-top: 60px;
    padding-bottom: 60px;
}